<a href="https://colab.research.google.com/github/yasawinidasari02/python-git-project/blob/main/Crop_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data=pd.read_csv('crop.csv')

In [2]:
data

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [60]:
X =  data.iloc[:,0:-1].values
Y =data.iloc[:,-1 ].values

In [61]:
X

array([[ 90.        ,  42.        ,  43.        , ...,  82.00274423,
          6.50298529, 202.9355362 ],
       [ 85.        ,  58.        ,  41.        , ...,  80.31964408,
          7.03809636, 226.6555374 ],
       [ 60.        ,  55.        ,  44.        , ...,  82.3207629 ,
          7.84020714, 263.9642476 ],
       ...,
       [118.        ,  33.        ,  30.        , ...,  67.22512329,
          6.36260785, 173.3228386 ],
       [117.        ,  32.        ,  34.        , ...,  52.12739421,
          6.75879255, 127.1752928 ],
       [104.        ,  18.        ,  30.        , ...,  60.39647474,
          6.77983261, 140.9370415 ]])

In [62]:
Y

array(['rice', 'rice', 'rice', ..., 'coffee', 'coffee', 'coffee'],
      dtype=object)

In [43]:
len(pd.unique(Y))

22

In [63]:
k = pd.get_dummies(data.label)
k

      apple  banana  blackgram  ...  pomegranate  rice  watermelon
0         0       0          0  ...            0     1           0
1         0       0          0  ...            0     1           0
2         0       0          0  ...            0     1           0
3         0       0          0  ...            0     1           0
4         0       0          0  ...            0     1           0
...     ...     ...        ...  ...          ...   ...         ...
2195      0       0          0  ...            0     0           0
2196      0       0          0  ...            0     0           0
2197      0       0          0  ...            0     0           0
2198      0       0          0  ...            0     0           0
2199      0       0          0  ...            0     0           0

[2200 rows x 22 columns]

In [64]:
y=k.values
y

array([[0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [77]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [79]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [80]:
X_train

array([[-0.28588785,  2.0206348 ,  2.93960185, ...,  0.94376434,
        -0.74958392,  0.29428766],
       [-0.63810601,  0.29222998, -0.57565467, ..., -2.25944746,
        -1.17255486,  0.54103743],
       [-1.04451159,  0.29222998, -0.61515194, ..., -2.34086563,
        -0.97231046,  0.63610043],
       ...,
       [ 0.58111071, -0.40519653, -0.20043066, ...,  0.48188899,
         1.45136474,  2.57867255],
       [-0.63810601, -0.95100858, -0.37816835, ...,  0.92951865,
        -0.60642879,  0.76354352],
       [-0.52973119,  0.50449022,  0.56976599, ..., -2.56791771,
         0.02981018, -0.23662135]])

In [81]:
X_test

array([[ 2.23382671, -0.19293629, -0.49666015, ...,  0.18597595,
         0.46251264, -0.24939353],
       [ 0.09342402,  0.26190709,  0.62901189, ..., -2.47503668,
         1.31831921, -0.43690382],
       [-0.44845008, -0.73874834, -0.79288963, ...,  0.88372893,
        -0.02434827,  0.03421779],
       ...,
       [-0.61101231,  0.80771914, -0.61515194, ..., -2.37255318,
        -0.85305388,  0.74060289],
       [-0.50263749,  0.50449022, -0.55590604, ..., -1.13363117,
        -0.33684379,  1.67630593],
       [-1.1257927 ,  0.07996974, -0.61515194, ..., -0.21155088,
        -0.26822492, -1.03703556]])

In [83]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5)

In [85]:
classifier.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [86]:
Y_pred=classifier.predict(X_test)

In [87]:
Y_pred

array(['cotton', 'chickpea', 'orange', 'kidneybeans', 'kidneybeans',
       'jute', 'maize', 'jute', 'banana', 'blackgram', 'orange', 'papaya',
       'mothbeans', 'muskmelon', 'mungbean', 'muskmelon', 'apple',
       'muskmelon', 'pigeonpeas', 'jute', 'blackgram', 'muskmelon',
       'coffee', 'chickpea', 'pomegranate', 'banana', 'maize', 'rice',
       'cotton', 'apple', 'mungbean', 'blackgram', 'kidneybeans',
       'watermelon', 'jute', 'banana', 'coconut', 'grapes', 'chickpea',
       'papaya', 'coconut', 'apple', 'lentil', 'pigeonpeas', 'apple',
       'mango', 'watermelon', 'grapes', 'apple', 'maize', 'watermelon',
       'cotton', 'banana', 'mango', 'muskmelon', 'chickpea', 'muskmelon',
       'coconut', 'mothbeans', 'jute', 'coffee', 'coconut', 'mothbeans',
       'watermelon', 'kidneybeans', 'muskmelon', 'blackgram', 'jute',
       'apple', 'watermelon', 'cotton', 'coffee', 'watermelon', 'banana',
       'blackgram', 'maize', 'watermelon', 'maize', 'jute', 'grapes',
       'apple', 'watermelon', 'coconut', 'grapes', 'grapes', 'grapes',
       'coffee', 'maize', 'banana', 'coconut', 'pomegranate',
       'pigeonpeas', 'blackgram', 'banana', 'jute', 'pigeonpeas', 'jute',
       'orange', 'muskmelon', 'chickpea', 'pigeonpeas', 'rice', 'cotton',
       'jute', 'pomegranate', 'jute', 'banana', 'banana', 'grapes',
       'watermelon', 'mungbean', 'lentil', 'papaya', 'kidneybeans',
       'banana', 'apple', 'mungbean', 'mothbeans', 'mungbean',
       'pomegranate', 'orange', 'chickpea', 'blackgram', 'lentil',
       'coffee', 'mungbean', 'lentil', 'muskmelon', 'lentil', 'cotton',
       'mungbean', 'banana', 'kidneybeans', 'jute', 'banana', 'papaya',
       'grapes', 'mungbean', 'pigeonpeas', 'apple', 'coffee', 'banana',
       'rice', 'coconut', 'apple', 'mungbean', 'jute', 'papaya',
       'muskmelon', 'apple', 'watermelon', 'muskmelon', 'papaya', 'jute',
       'banana', 'orange', 'chickpea', 'mango', 'jute', 'rice', 'maize',
       'mango', 'coconut', 'lentil', 'grapes', 'cotton', 'blackgram',
       'maize', 'coconut', 'lentil', 'apple', 'mothbeans', 'mothbeans',
       'pomegranate', 'coconut', 'pomegranate', 'coffee', 'coconut',
       'orange', 'banana', 'mango', 'orange', 'kidneybeans',
       'pomegranate', 'coconut', 'muskmelon', 'coconut', 'apple', 'mango',
       'grapes', 'kidneybeans', 'coffee', 'pomegranate', 'grapes',
       'banana', 'papaya', 'mungbean', 'watermelon', 'cotton', 'coffee',
       'cotton', 'coconut', 'maize', 'watermelon', 'banana',
       'kidneybeans', 'jute', 'mango', 'jute', 'muskmelon', 'coconut',
       'pomegranate', 'mango', 'mothbeans', 'blackgram', 'coffee',
       'cotton', 'lentil', 'pigeonpeas', 'muskmelon', 'jute', 'lentil',
       'muskmelon', 'pigeonpeas', 'pomegranate', 'banana', 'papaya',
       'cotton', 'coconut', 'watermelon', 'cotton', 'rice', 'mothbeans',
       'watermelon', 'mothbeans', 'muskmelon', 'banana', 'mango',
       'pomegranate', 'grapes', 'maize', 'kidneybeans', 'lentil',
       'coconut', 'maize', 'banana', 'muskmelon', 'pomegranate', 'coffee',
       'lentil', 'jute', 'banana', 'maize', 'mothbeans', 'mango',
       'mungbean', 'cotton', 'kidneybeans', 'kidneybeans', 'blackgram',
       'jute', 'pomegranate', 'pigeonpeas', 'maize', 'coffee', 'rice',
       'grapes', 'kidneybeans', 'coffee', 'maize', 'mungbean', 'cotton',
       'grapes', 'mungbean', 'apple', 'coffee', 'jute', 'coffee',
       'kidneybeans', 'papaya', 'lentil', 'pomegranate', 'orange',
       'grapes', 'banana', 'rice', 'jute', 'papaya', 'banana',
       'kidneybeans', 'cotton', 'grapes', 'kidneybeans', 'papaya',
       'papaya', 'apple', 'lentil', 'jute', 'watermelon', 'papaya',
       'kidneybeans', 'papaya', 'cotton', 'apple', 'coffee', 'maize',
       'papaya', 'orange', 'watermelon', 'mungbean', 'cotton', 'jute',
       'orange', 'pomegranate', 'chickpea', 'mungbean', 'blackgram',
       'coconut', 'lentil', 'maize', 'papaya', 'papaya', 'maize',
       'watermelon', 'coffee', 'pigeonpeas', 'apple', 'blackgram',
       'papaya', 'coconut', 'coffee', 'muskmelon', 'pigeonpeas', 'papaya',
       'pomegranate', 'rice', 'pigeonpeas', 'papaya', 'lentil', 'papaya',
       'mango', 'jute', 'chickpea', 'jute', 'mungbean', 'coconut', 'rice',
       'rice', 'cotton', 'jute', 'apple', 'pomegranate', 'pomegranate',
       'papaya', 'apple', 'lentil', 'watermelon', 'mothbeans', 'chickpea',
       'rice', 'pomegranate', 'coconut', 'pigeonpeas', 'cotton', 'grapes',
       'apple', 'coffee', 'blackgram', 'coffee', 'papaya', 'maize',
       'jute', 'muskmelon', 'grapes', 'mothbeans', 'mungbean',
       'mothbeans', 'apple', 'cotton', 'mango', 'jute', 'apple', 'maize',
       'mango', 'pomegranate', 'blackgram', 'kidneybeans', 'jute',
       'watermelon', 'blackgram', 'kidneybeans', 'mungbean', 'coffee',
       'maize', 'banana', 'chickpea', 'banana', 'jute', 'watermelon',
       'coconut', 'coffee', 'cotton', 'pigeonpeas', 'coffee', 'mango',
       'rice', 'mothbeans', 'coffee', 'pigeonpeas', 'lentil', 'papaya',
       'jute', 'blackgram', 'apple', 'watermelon', 'lentil', 'pigeonpeas',
       'blackgram', 'jute', 'mothbeans', 'kidneybeans', 'apple', 'mango',
       'pomegranate', 'mungbean', 'grapes', 'blackgram', 'pomegranate',
       'blackgram', 'papaya', 'rice', 'mango', 'pomegranate', 'jute',
       'mungbean', 'chickpea', 'mango', 'kidneybeans', 'pigeonpeas',
       'lentil'], dtype=object)

In [89]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test,Y_pred))

0.9886363636363636

In [48]:
!pip install flask_ngrok

Requirement already satisfied: flask_ngrok in /usr/local/lib/python3.7/dist-packages (0.0.25)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.7/dist-packages (from flask_ngrok) (1.1.4)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from flask_ngrok) (2.23.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (2.11.3)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (1.1.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask_ngrok) (2.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (2021.10.8)

In [91]:
from flask import Flask,render_template,request
from flask_ngrok import run_with_ngrok
app=Flask(__name__)
run_with_ngrok(app)
@app.route('/')
def homepage():
  return render_template('crop.html')

if __name__=='__main__':
  app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://358d-35-199-166-196.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

127.0.0.1 - - [12/Nov/2021 17:29:07] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [12/Nov/2021 17:29:08] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [12/Nov/2021 17:29:09] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [12/Nov/2021 17:29:14] "POST / HTTP/1.1" 405 -

In [92]:
from flask import Flask,render_template,request
from flask_ngrok import run_with_ngrok
app=Flask(__name__)
run_with_ngrok(app)
@app.route('/')
def homepage():
  return render_template('crop.html')
@app.route('/',methods=['POST'])
def collectdata():
  n=request.form['n']
  p=request.form['p']
  k=request.form['k']
  temp=request.form['temp']
  humidity=request.form['humidity']
  ph=request.form['ph']
  rainfall=request.form['rainfall']
  print(n,p,k,temp,humidity,ph,rainfall)
  return render_template('crop.html')
if __name__=='__main__':
  app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://a679-35-199-166-196.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

127.0.0.1 - - [12/Nov/2021 17:29:42] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [12/Nov/2021 17:29:42] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [12/Nov/2021 17:29:44] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [12/Nov/2021 17:30:09] "POST / HTTP/1.1" 200 -

123.23 343.456 342.324 234.325 35.3252354 457683257.43 53454.345